.DS_Store
/internal/docs/public
/.env
/.go
/tmp/
/pkg
/bin
/dist
*.bts
*.swp
*.swo
/temp/
node_modules/
target/
*.db
*.lock

/tls/*.crt
/tls/*.key
/tls/*.csr
/local-archive
**bucket-cache/
.vscode
.idea
debug
.bundle
*.swp
*.crt
*.csr
*.key
*.prof
*.test
*.index
*.db
*.conf
*.lock
pi-node-docker
/pi-node-docker
pi-rpc
/pi-rpc
pi-rpc-1
/pi-rpc-1