# Captive core config for Pi Network mainnet (protocol v27).
HTTP_PORT=11626
PUBLIC_HTTP_PORT=false
DATABASE="sqlite3://stellar.db"

NETWORK_PASSPHRASE="Pi Network"

PREFERRED_PEERS=[
  "34.47.29.105:31402",
  "35.228.152.141:31402",
  "34.64.252.77:31402"
]
PREFERRED_PEERS_ONLY=false

PEER_PORT=31402

UNSAFE_QUORUM=true
FAILURE_SAFETY=0

[QUORUM_SET]
THRESHOLD_PERCENT=51
VALIDATORS=[
  "GAXWLTOLFZINIA2PX4U3X6JPAXYN2UJSZ5NIKQ3V2S62JO2EPF4QT2EK",
  "GAYPBJ45QZSDFQVEYSKDHKNNYJZH3LIRBH47BJ4KRMTAMDHJ4TKL56PL",
  "GAXTE5AV5OCOEGJE4OPVMN5UJHAKDQCSVMXI4P7SZIGQXVO7LP4JKX4M"
]

# Pi mainnet history archive
[HISTORY.pi-mainnet]
get="curl -4 -sfLk --connect-timeout 30 --max-time 0 --retry 50 --retry-delay 3 --retry-all-errors -C - https://history.mainnet.minepi.com/{0} -o {1}"
put="echo skip"
mkdir="echo skip"
