# Pi Testnet - Custom core config with correct validators
PUBLIC_HTTP_PORT = false
PEER_PORT = 31402

COMMANDS = ["ll?level=info"]
LOG_FILE_PATH = "/tmp/stellar-core.log"
BUCKET_DIR_PATH = "/opt/stellar/core/buckets"

NETWORK_PASSPHRASE = "Pi Testnet"

DATABASE = "postgresql://dbname=core host=localhost user=stellar password=pi-testnet-pg"
CATCHUP_COMPLETE=false
CATCHUP_RECENT=256

PREFERRED_PEERS = [
  "161.35.227.220:31402",
  "161.35.227.222:31402",
  "161.35.227.224:31402",
  "161.35.238.87:31402"
]
PREFERRED_PEERS_ONLY = false

NODE_SEED = "SAO3ID5YXLGMM3PVPQ5W3LWSZGPVWWE36WSXAAPJDX4N7I72WNPTLF4E"
NODE_IS_VALIDATOR = false

UNSAFE_QUORUM = true
FAILURE_SAFETY = 0

NODE_HOME_DOMAIN = "pi-core-team"

[[HOME_DOMAINS]]
HOME_DOMAIN = "pi-core-team"
QUALITY = "MEDIUM"

[[VALIDATORS]]
NAME="validator1"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GC6R2IQ7LAEWFFNV2ZMXPMOLGGCFRFX6NQFCNT2PLB3KVJPHTIYV4ZPR"
ADDRESS="161.35.227.220:31402"
HISTORY="curl -sf https://history.testnet.minepi.com/{0} -o {1}"

[[VALIDATORS]]
NAME="validator2"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GDRIZZC5PNZ6XBJTBZX52WX4NQ2K4Y5XBKVBRYNFDDS4VO6POQ3IGZCL"
ADDRESS="161.35.227.222:31402"
HISTORY="curl -sf https://history.testnet.minepi.com/{0} -o {1}"

[[VALIDATORS]]
NAME="validator3"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GAKI7FNXWIJHKV4CKFSU6KDNFTPYAUOP2WIKL5IFSOPEUSYK4Y3LWMXX"
ADDRESS="161.35.227.224:31402"
HISTORY="curl -sf https://history.testnet.minepi.com/{0} -o {1}"

[HISTORY.pi-testnet]
get="curl -4 -sfLk --connect-timeout 30 --max-time 0 --retry 50 --retry-delay 3 --retry-all-errors -C - https://history.testnet.minepi.com/{0} -o {1}"
put="echo skip"
mkdir="echo skip"
