# Captive core config for Pi Testnet stellar-rpc
NETWORK_PASSPHRASE="Pi Testnet"
HTTP_PORT=11626
PUBLIC_HTTP_PORT=false
PEER_PORT=11825
DATABASE="sqlite3:///data/stellar-rpc-testnet-captive.db"

FAILURE_SAFETY=-1
UNSAFE_QUORUM=true

[[HOME_DOMAINS]]
HOME_DOMAIN="pi-core-team"
QUALITY="HIGH"

[[VALIDATORS]]
NAME="validator1"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GDFDDPMCL4WPV27Z5Q7R6I2BX3UXOHJIU6AXXIFOCUEDEA4GWU2I4TJZ"
ADDRESS="34.152.3.42:31402"
HISTORY="curl -sf https://history.testnet2.minepi.com/{0} -o {1}"

[[VALIDATORS]]
NAME="validator2"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GDOJPADI56GTIP46K6YSRFOSEL2BW5WCYIKPFB5ZMY7YT3H2FRSAGI4J"
ADDRESS="35.228.163.61:31402"
HISTORY="curl -sf https://history.testnet2.minepi.com/{0} -o {1}"

[[VALIDATORS]]
NAME="validator3"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GAOBNDXTZSMJB5N3J5V5RZLYRN4EKQS5GIT25LCQS4AIBUJ3SMVMDR2Q"
ADDRESS="34.79.206.31:31402"
HISTORY="curl -sf https://history.testnet2.minepi.com/{0} -o {1}"
